<!DOCTYPE html>
<html>
<head>
	<title>post</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<style type="text/css">
		.container{
			background: white;
			margin-top: 5%;
			margin-bottom: 10%;
			padding: 50px;
			width: 800px;
            min-width: 640px;
            justify-content: center;
            /*border:2px solid grey;*/
            -moz-box-shadow:    5px 5px 5px 6px #ccc;
		    -webkit-box-shadow: 5px 5px 5px 6px #ccc;
			 box-shadow:         5px 5px 5px 6px #ccc;
		}
		#userinput{
			margin:2%auto;
			width: 500px;
			height: 40px;
			margin-right: 0;
		}
				
		.btn1,.btn2{
			padding:0;
			border:0;
			background-color: white; 
		}
		.btn1{
			margin-right: 5px;

		}
		.btn1:hover svg g{
			fill: red;
		}
		.btn2{
			margin-left: 5px;
		}
		.btn2:hover svg g{
			fill: red;
		}
		
		#in{
			margin-left: 0;
		}
		
		


	</style>
	<div style="text-align:center; margin-top: 2% "><h1>Share Your Views in Comments.</h1></div>
<div class="container">
	<div class="_2-sx">
		<img class="spotlight" src="lgbt1.jpg" style="width: 640px; height: 452px;" aria-busy="true">
	</div>
	<div style="margin-top: 2%; margin-left:40%;margin-right:40%;">
		<button type="" name="like"class="btn1"id="btn1"style="width: 55px;height: 55px ;cursor: pointer;">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
			width="55" height="55"
			viewBox="0 0 172 172"
			style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M118.19832,25.73798c-13.85096,0 -25.71214,9.8714 -32.22416,16.69351c-6.48618,-6.82212 -18.32151,-16.69351 -32.17247,-16.69351c-23.90325,0 -40.57092,16.64183 -40.57092,40.46755c0,26.28065 20.72476,43.25841 40.7518,59.66767c9.45794,7.7524 19.25181,15.76322 26.74579,24.67849c1.26622,1.47296 3.1268,2.32572 5.0649,2.32572h0.38762c1.96394,0 3.79868,-0.85276 5.0649,-2.32572c7.51983,-8.91527 17.28786,-16.92608 26.77163,-24.67849c20.02704,-16.40926 40.7518,-33.38702 40.7518,-59.66767c0,-23.82572 -16.66767,-40.46755 -40.57091,-40.46755z"></path></g></g></svg>
		</button>
		<button type="" name="like"class="btn2" id="btn2"style="width: 50px;height: 50px ;cursor: pointer;">
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
			width="50" height="50"
			viewBox="0 0 172 172"
			style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#e74c3c"><path d="M3.40641,-0.03359c-1.39982,0.00037 -2.65984,0.84884 -3.18658,2.14577c-0.52674,1.29693 -0.21516,2.7837 0.78799,3.76001l165.12,165.12c0.86281,0.89867 2.14404,1.26068 3.34956,0.94641c1.20552,-0.31427 2.14696,-1.2557 2.46122,-2.46122c0.31427,-1.20552 -0.04774,-2.48675 -0.94641,-3.34956l-37.84672,-37.84672c17.27287,-14.77387 31.97453,-33.64218 31.97453,-59.4811c0,-24.65792 -20.06208,-44.72 -44.72,-44.72c-13.40224,0 -25.94448,5.96571 -34.4,16.16531c-8.45552,-10.1996 -20.99776,-16.16531 -34.4,-16.16531c-6.6296,0 -12.91037,1.48095 -18.57062,4.085l-27.15719,-27.15719c-0.64765,-0.66575 -1.53698,-1.04135 -2.46578,-1.04141zM21.35891,35.95203c-8.8752,8.17688 -14.47891,19.85509 -14.47891,32.84797c0,39.90744 34.98378,63.3232 60.52922,80.42344c6.54976,4.38256 12.20055,8.17215 16.38703,11.66375l2.20375,1.83422l2.20375,-1.83422c4.18648,-3.4916 9.83727,-7.27775 16.38703,-11.66375c5.61408,-3.75648 11.6831,-7.81987 17.7375,-12.29531z"></path></g></g></svg>
		</button>
	</div>
	<br>
	<div style="display: flex; flex-wrap: wrap;margin-top: 2%; margin-left:35%;margin-right:35%;">
	<p>Liked by: <p id="like"></p></p><pre>   </pre> 
	<p>Disliked by:<span>  </span> <p id="dislike"></p></p>
	</div>
	<div>
	<form class="form" name="myform" method="POST" action="/comment">
		<input id="userinput" type="text" name="comment" placeholder="Type Comment">
		<input class="btn btn-warning"  type="submit" value="Comment">
	</form>
	</div>
	<div>
	<% if(comment.length== 0){%>
		<p>Be the first to Comment</p>
	<% } %>
    <% for(var i=0; i < comment.length; i++) { %>
		<p style="font-size: 25px;"><%= comment[i].comment %></p>
		<p style="font-size: 15px;">Commented By: <%= comment[i].firstname %></p>
	<% } %>
	</div>
	
</div>
</body>
</html>